html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    color: #111827;
}

* {
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

textarea {
    resize: none;
}

/* ERRORS */

.error {
    color: #EF4444;
    font-size: 1.5rem;
    font-weight: bold;
}

/* NAVBAR */

nav {
    padding: 0 5rem;
    height: 6rem;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    background-color: #10B981;
    color: white;
}

nav span {
    cursor: pointer;
}

nav a:hover, nav span:hover {
    color: #D1FAE5;
}

nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

nav ul div {
    display: flex;
    gap: 2rem;
}

/* LOGIN AND SIGNUP PAGE */

.login-page, .signup-page {
    height: 94.5vh;
    padding: 5rem;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card, .signup-card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 4rem;
    width: 60rem;
    align-items: center;
    border-radius: 0.75rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.login-card h1, .signup-card h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #1F2937;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
}

.login-form div, .signup-form div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form label, .signup-form label {
    font-size: 2rem;
    font-weight: bold;
    color: #1F2937;
}

.login-form input, .signup-form input {
    background-color: white;
    border: 1px solid #D1D5DB;
    padding: 0.6rem;
    font-size: 1.5rem;
    color: #1F2937;
    border-radius: 0.5rem;
}

.login-form button, .signup-form button {
    background-color: #10B981;
    color: white;
    padding: 1rem 1.2rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
}

.login-form button:hover, .signup-form button:hover {
    background-color: #059669;
}

.login-card span, .signup-card span {
    font-size: 1.5rem;
}

.login-card span a, .signup-card span a {
    font-size: 1.5rem;
    color: #10B981;
    font-weight: bold;
}

.login-card span a:hover, .signup-card span a:hover {
    color: #72b7a0;
}

/* HOME PAGE */

.home-page {
    min-height: 94.5vh;
    padding: 5rem max(1rem, 25%);
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.home-page h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #1F2937;
}

.create-post-form {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
    padding: 1.5rem;
    border-radius: 0.75rem;
    display: flex;
    width: 100%;
    gap: 1rem;
}

.create-post-form textarea {
    flex: 1;
    font-size: 1.5rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
    padding: 2rem 0.75rem;
    color: #1F2937;
}

.create-post-form button {
    background-color: #10B981;
    color: white;
    padding: 0.6rem 1.2rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.create-post-form button:hover {
    background-color: #059669;
}

.home-page > div {
    width: 100%;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.post {
    background-color: white;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.user-link:hover .username {
    color: #696b6d;
}

.post > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.post > div a:first-of-type {
    display: flex;
    width: fit-content;
    gap: 1rem;
}

.post > div a:first-of-type > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.username-status-container {
    display: flex;
    gap: 0.5rem;
}

.post .profile-picture {
    height: 5rem;
    border-radius: 50%;
}

.post .username {
    color: #1F2937;
    font-size: 2rem;
    font-weight: bold;
}

.post .timestamp {
    color: #6b7280;
    font-size: 1.5rem;
}

.content-container {
    padding: 2rem 1rem;
}

.content-container:hover {
    background-color: rgb(241, 241, 241);
    border-radius: 0.5rem;
}

.post p {
    color: #1F2937;
    font-size: 2rem;
}

.post > div > div:last-of-type {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-size: 1.6rem;
}

.post > div > div:last-of-type h2:first-of-type {
    display: flex;
    gap: 0.6rem;
    align-items: center;
}

.post > div > div:last-of-type h2:first-of-type:hover span {
    color: red;
}

.post > div > div:last-of-type h2:last-of-type a {
    display: flex;
    gap: 0.6rem;
}

.post > div > div:last-of-type h2:last-of-type a:hover span, .post > div > div:last-of-type h2:last-of-type a:hover .comment-icon {
    color: #10B981;
}

.like {
    cursor: pointer;
}

.liked {
    color: red;
}

/* POST PAGE */

.post-page {
    min-height: 94.5vh;
    padding: 5rem max(1rem, 25%);
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.post-page > div:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.post-page .post-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.post-page .post-actions button {
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
    color: #1F2937;
    cursor: pointer;
}

button.edit-post-button:hover {
    background-color: #10B981;
    color: white;
}

button.delete-post-button:hover {
    background-color: #EF4444;
    color: white;
}


.create-comment-form {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
    padding: 1.5rem;
    border-radius: 0.75rem;
    display: flex;
    width: 100%;
    gap: 1rem;
}

.create-comment-form textarea {
    flex: 1;
    font-size: 1.5rem;
    resize: none;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
    padding: 2rem 0.75rem;
    color: #1F2937;
}

.create-comment-form button {
    background-color: #10B981;
    color: white;
    padding: 0.6rem 1.2rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.create-comment-form button:hover {
    background-color: #059669;
}

.post-page > div:last-of-type > h2:first-of-type {
    font-size: 2.5rem;
    font-weight: bold;
}

.post-page .post {
    margin-bottom: 3rem;
}

.empty-comment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.empty-comment-container h2 {
    color: #6b7280;
    font-size: 2rem;
}

.comments {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    gap: 3rem;
}

.comment {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    min-width: 33.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.replies-section {
    margin-left: 5rem;
}

.reply-form-container {
    background-color: white;
    border-radius: 0.5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.create-reply-form {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.create-reply-form div {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.create-reply-form button, .edit-post-form button {
        font-size: 1.5rem;
        padding: 0.8rem 1.5rem;
        border: 1px solid #D1D5DB;
        border-radius: 0.5rem;
        color: #1F2937;
        cursor: pointer;
}

button.submit-button:hover {
    background-color: #10B981;
    color: white;
}

button.cancel-button:hover {
    background-color: #EF4444;
    color: white;
}

.create-reply-form textarea {
    flex: 1;
    font-size: 1.5rem;
    resize: none;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
    padding: 2rem 0.75rem;
    color: #1F2937;
}

.comment a:first-of-type {
    display: flex;
    gap: 1rem;
}

.comment a:first-of-type > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment .profile-picture {
    height: 5rem;
    border-radius: 50%;
}

.username-status-container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #1F2937;
}

.comment .timestamp {
    font-size: 1.5rem;
    color: #6b7280;
}

.comment p {
    color: #1F2937;
    font-size: 2rem;
    padding: 3rem 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.comment .comment-actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.comment .comment-actions button, .edit-comment-form button {
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
    color: #1F2937;
    cursor: pointer;
}

button.edit-comment-button:hover {
    background-color: #10B981;
    color: white;
}

button.delete-comment-button:hover {
    background-color: #EF4444;
    color: white;
}

button.reply-button:hover {
   background-color: #0891B2;
   color: white;

}

.edit-comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.edit-comment-form div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.edit-comment-form textarea {
    padding: 2rem 1rem;
}

.author {
    font-size: 2rem;
    font-weight: bold;
}

.reply {
    font-weight: bold;
    color: #6b7280;
}

.edit-post-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto 0 auto 0;
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.edit-post-form textarea {
    height: 50rem;
    padding: 2rem 1rem;
    font-size: 1.5rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
    color: #1F2937;
    background-color: #f9fafb;
}

.edit-post-form div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


/* PHONE */
@media (max-width: 680px) {
    /* LOGIN PAGE */
    .login-page, .signup-page {
        padding: 5rem 3rem;
    }

    .login-card, .signup-card {
        padding: 5rem 1rem;
    }

    .login-form, .signup-form {
        width: 80%;
    }

    /* HOME PAGE */

    .home-page {
        padding: 5rem 3rem;
    }

    /* POST PAGE */

    .post-page {
        padding: 5rem 2rem;
    }

    .replies-section {
        margin: 0rem;
    }
}

/* TABLET */
@media (min-width: 681px) and (max-width: 1260px) {
    /* HOME PAGE */

    .home-page {
        padding: 5rem max(1rem, 15%);
    } 

    /* POST PAGE */

    .post-page {
        padding: 5rem max(1rem, 15%);
    }
}